html
    head
        title Simple template
    body
        include ./header.pug
        if(user)
            h1 Hi, #{user.name}
        else
            a(href="/sign_up") Sign Up
        include ./footer.pug