html
    head
        title Student
    body
        form(action="/student", method="POST")
            div
                label(for="id") ID:
                input(name="id")
            br
            div
                label(for="name") Name:
                input(name="name")
            br
            div
                label(for="age") Age:
                input(name="age")
            br
            div
                label(for="address") Address:
                input(name="address")
            br
            div
                label(for="salary") Salary:
                input(name="salary")
            br
            button(type="submit") Create new person