
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
    display: inline-block;
}

#student_table, #student_table th, #student_table tr, #student_table td {
    width: 40%;
    border: solid 1px;
    border-collapse: collapse;
    padding: 10px;
}

#student_table th{
    color: green;
}