<!DOCTYPE html>
<html>
    <head>
        <title><%=title %></title>
    </head>
    <body>
        <%- includes header.ejs %>
        <h1><%=name %></h1>
        <%- includes footer.ejs %>
    </body>
</html>
