html
    head
        title student
    body
        if(type == "error")
            h3(style = "color:red") #{message}
        else
            h3 New student, id: #{student.id} name: #{student.name}, age: #{student.age}, address: #{student.address} and salary: #{student.salary} added!