html
    head
        title Student
    body
        form(action="/student", name="myForm" method="POST")
            div
                label(for="id") ID:
                input#id(name="id", type='text')
            br
            div
                label(for="name") Name:
                input#name(name="name",type='text')
            br
            div
                label(for="age") Age:
                input#age(name="age", type='text')
            br
            div
                label(for="address") Address:
                input#address(name="address", type='text')
            br
            div
                label(for="salary") Salary:
                input#salary(name="salary, type='text'")
            br
            button(type="submit") Create