extends layout

block content
    include includes/header.pug
    h1= title
    table(id='student_table')
        tr
            th ID
            th Name
            th Age
            th Address
            th Salary
        each row in rows
            tr
                td=row.id
                td=row.name
                td=row.age
                td=row.address
                td=row.salary
