extends layout

block content
    h1=title
    form(action="/students", name='myForm', method='post')
        div
            label(for="id") ID:
            input(type="text", id='id', name='id')
        br
        div
            label(for="name") name:
            input(type="text", id='name', name='name')
        br
        div
            label(for="age") Age:
            input(type="text", id='age', name='age')
        br
        div
            label(for="address") Address:
            input(type="text", id='address', name='address')
        br
        div
            label(for="salary") Salary:
            input(type="text", id='salary', name='salary')
        br
        div
            button(type="submit") Submit

